/******** custom scrollbar *********/
         /* width */
         ::-webkit-scrollbar {
         width: 10px;
         }
         /* Track */
         ::-webkit-scrollbar-track {
         background: #777; 
         }
         /* Handle */
         ::-webkit-scrollbar-thumb {
         background: #444; 
         }
         /* Handle on hover */
         ::-webkit-scrollbar-thumb:hover {
         background: #222; 
         }
         /******** timeline *********/
         .timeline-wrapper::-webkit-scrollbar {
         display: none;
         }
         .container::-webkit-scrollbar {
         display: none;
         }
         @import url(https://fonts.googleapis.com/css?family=PT+Sans);
         .container {
         margin: 3rem 0;
         width: 100%;
         position: relative;
         overflow-x: scroll;
         padding-top: 4rem;
         padding-bottom: 2rem;
         }
         .container::-webkit-scrollbar {
         height: 45px;
         }
         .container::-webkit-scrollbar-thumb {
         background-color: transparent;
         background-clip: content-box;
         border-radius: 100%;
         border: 20px solid transparent;
         }
         .entries {
         margin-right: -10000px;
         margin-left: 1rem;
         }
         .timeline {
         box-sizing: border-box;
         width: 10000vw;
         height: 0.7rem;
         background-color: #444;
         background-clip: content-box;
         border-width: 1px 0;
         border-style: solid;
         border-color: #555;
         }
         .entry {
         float: left;
         max-width: 170px;
         position: relative;
         text-align: center;
         margin: 0 1rem;
         margin-top: 0.7rem;
         }
         .entry .dot {
         position: absolute;
         width: 0.7rem;
         height: 0.7rem;
         background-color: powderblue;
         left: 50%;
         margin-left: -0.6rem;
         margin-top: -17px;
         border-radius: 100%;
         box-sizing: border-box;
         background-clip: content-box;
         border-width: 0.16rem;
         border-style: solid;
         border-color: #fff;
         -moz-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
         -o-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
         -webkit-transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
         transition: height 0.2s linear, width 0.2s linear, margin 0.2s linear, background-color 0.3s ease-out;
         }
         .entry:hover .dot {
         width: 1rem;
         height: 1rem;
         margin-left: -0.8rem;
         margin-top:-19px;
         }
         .entry:hover .label {
         margin-top: 2.5rem;
         background-color: #d0e8e4;
         border-bottom: 0.5rem solid transparent;
         }
         .label {
         display: inline-block;
         position: relative;
         background-color: #E1F0EE;
         background-clip: padding-box;
         margin-top: 3rem;
         padding: 0.4rem 0.8rem 0.8rem;
         border-radius: 0.2rem;
         -moz-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
         -o-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
         -webkit-transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
         transition: margin-top 0.2s linear, background-color 0.2s linear, border-bottom 0.2s linear;
         border-bottom: 0 solid transparent;
         }
         .label .time {
         text-transform: uppercase;
         font-size: 0.7rem;
         margin: 0 0 0.4rem;
         padding: 0 0.3rem 0.3rem;
         letter-spacing: 1px;
         display: inline-block;
         border-bottom: 1px solid rgba(255, 255, 255, 0.8);
         }
         .label .detail {
         font-size: 0.8rem;
         }
         .label:before {
         content: '';
         display: block;
         /*position: absolute;*/
         background-color: inherit;
         background-clip: content-box;
         box-sizing: border-box;
         width: 1rem;
         height: 1rem;
         left: 50%;
         margin-top: -0.9rem;
         margin-left: 46%;
         transform-origin: center;
         -moz-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
         z-index: -1;
         }
         .label a {
         color: #000;
         text-decoration: none;
         }
         .label a:before {
         content: '[';
         }
         .label a:after {
         content: ']';
         }
         .entry.life .label {
         background-color: #e1f0e4;
         }
         .entry.life .dot {
         background-color: #e1f0e4;
         }
         .entry.life:hover .label {
         background-color: #d0e8d5;
         }
         .entry.study .label {
         background-color: #e1e8f0;
         }
         .entry.study .dot {
         background-color: #e1e8f0;
         }
         .entry.study:hover .label {
         background-color: #d0dbe8;
         }
         /******* expand button **********/
         .collapsible {
         background-color: #777;
         color: white;
         cursor: pointer;
         padding: 18px;
         border: none;
         text-align: left;
         outline: none;
         margin-top: -10px;
         height: 50px;
         }
         .active, .collapsible:hover {
         background-color: #555;
         }
         .collapsible:after {
         content: '\002B';
         color: white;
         font-weight: bold;
         float: right;
         margin-left: 5px;
         }
         .active:after {
         content: "\2212";
         }
         .content {
         padding: 0 18px;
         max-height: 0;
         overflow: hidden;
         transition: max-height 0.2s ease-out;
         background-color: #14161c;
         }
         #myTable{transition: margin 0.2s ease-out;}
         #myTable1{transition: margin 0.2s ease-out;}

         /****************************************************/
         * {
         font-family:Verdana,sans-serif;font-size:12px;line-height:1.5; margin:0px; outline: none; 
         }
         .ms-button{padding: 17px !important; background: #8a4386 !important;; text-decoration: none !important;}
         .ms-button:hover{background: #753871 !important;}
         .highlight{background:yellow;}
         #text{opacity: 0;}
         .myInput {
         background:#efefef;
         background-position: 10px 10px;
         background-repeat: no-repeat;
         width: 100%;
         font-size: 16px;
         padding: 12px 20px 12px 40px;
         border: 0px solid #ddd;
         }
         #myTable {
         border-collapse: collapse;
         width: 100%;
         border: 0px solid #ddd;
         font-size: 18px;
         }
         #myTable th {
         display: none;
         }
         #myTable th, #myTable td {
         text-align: left;
         padding: 12px;
         }
         #myTable tr {
         border-bottom: 0px solid #ddd;
         }
         #myTable tr.header, #myTable tr:hover {
         background-color: #f1f1f1;
         }